<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ryd.io - Cluster Map</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/dist/css/grayscale.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico" />

    <!-- Custom Fonts -->
    <link href="../static/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64693107-1', 'auto');
  ga('send', 'pageview');

</script>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Ryd
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Ryd Cluster Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/map_predict">Predictive Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#view_on_github">View On GitHub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="big_img_holder">
        <img class ="img_map" src="../static/dist/img/rydMap.jpg">
    </div>
    <style>
    .big_img_holder{
        margin-top: 50px; 
        text-align: center;
        background-image: url('../static/dist/img/NYC_Skyline_dark.jpg');
        background-attachment: fixed;
    }

    .img_map{
        margin-top: 50px; 
        text-align: center; 
        width: 50%;
    }
    .img_large{
        margin-top: 50px; 
        text-align: center; 
        background-image: url('../static/dist/img/NYC_Skyline_dark.jpg');
        width: 90%;
    }
    </style>
    <script type="text/javascript">
        // $(".big_img_holder" ).toggle(function() {
        //   $( ".big_img_holder" ).css({"width": "50%"});
        // }, function () {
        //     $( ".big_img_holder" ).css({"width": "100%"});
        // });
        $(".img_map").click(function(){
            $(".img_map").toggleClass("img_large");
        });
    </script>
    <!-- jQuery -->
    <script src="../static/dist/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/dist/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/dist/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="../static/dist/js/grayscale1.js"></script>

</body>

</html>
