<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ryd.io</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/dist/css/grayscale.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico" />

    <!-- Custom Fonts -->
    <link href="../static/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64693107-1', 'auto');
  ga('send', 'pageview');

</script>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Ryd
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/cluster_map">Ryd Cluster Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/map_predict">Predictive Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#view_on_github">View On GitHub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Ryd.io</h1>
                        <p class="intro-text">A data science exploration of the NYC Taxi data set via clustering and time-series analysis</p>
                        <p class="intro-text">Greg Kamradt Capstone Project <br>Galvanize Data Science Immersive<br>San Francisco, CA</p>
                        <a href="/cluster_map" class="btn btn-default btn-lg"><span class="network-name">Cluster Graphic</span></a>
                        <a href="/map_predict" class="btn btn-default btn-lg"> <span class="network-name">Interactive Map</span></a>
                        <br>
                        <a href="/technical_summary" class="btn btn-default btn-lg"> <span class="network-name">Technical Summary</span></a>
                        <br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Ryd.io</h2>
                <p> Every block in New York City has a story to tell. <br>
                <br>In March, 2014 <a href="http://chriswhong.com/open-data/foil_nyc_taxi/">Chris Whong</a> submitted a FOIA (Freedom of Information Act) request to the NYC Taxi and Limousine Commission. What he got back was a record of over 173,000,000 taxi rides in 2013.
                <br><br>Ryd.io aims to quantify this story<br><br>

                Ryd.io started as a means to describe social activity through measuring a populations movement throughout the day. Simply, what is happening in a city at a certain location and point in time?</p>
                <p>Using previous taxi data, we are able to predict where and how many rides will get dropped off at any given location. Ryd.io takes advantage of SARMIAX time-series analysis and clustering algorithms to present an alternative view of Manhattan.</p> 
                <p>This was the TL/DR... view all the details at the <a href="technical_summary.html">Technical Summary</a>.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="view_on_github" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>View On Github</h2>
                    <p>You can download my code and see the full pipeline in the Ryd.io repo</p>
                    <a href="https://github.com/gkamradt/ryd.io" class="btn btn-default btn-lg">Visit Repo</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src='../static/dist/img/gregColorSmile.jpg' style="width: 500px;">
                <p></p>
                <h2>Contact Greg</h2>
                <p>Feel free to contact me with any questions about the data set, project, next steps or to say hey.</p>
                <p>With the conslusion of this project I'm excited to join a new team and work on interesting problems. It'd be awesome to hear about the types of questions we can tackle</p>
                <p><a href="mailto:feedback@startbootstrap.com">gkamradt@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/gregkamradt" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/gkamradt" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/gregkamradt" class="btn btn-default btn-lg"><i class="fa fa-fw fa-linkedin"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/s/rhtejyazhuz8mpx/Kamradt_Greg_Resume.pdf?dl=0" class="btn btn-default btn-lg"><span class="network-name">Resume</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <!-- <div id="map"></div> -->

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Ryd.io 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/dist/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/dist/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/dist/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="../static/dist/js/grayscale.js"></script>

</body>

</html>
